<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
     <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/login.css">
</head>
<body>
	<img class="logo-login item-center-h" alt="Logo da Escola" src="../../img/logo.png">
	<h1 class="font-center titulo">Escola Fictícia</h1>
	<div class="box-login">
		<div class="erro-login" th:if="${param.error}">Login e/ou senha inválidos!</div>
		<div class="logout-login" th:if="${param.logout}">Até a próxima!</div>
	    <h2 class="font-center">Login</h2>
	    <form  action="/login" method="POST">
	        <label>Email: </label><br>
	        <input class="input-text-login" type="text" name="username"><br><br>
	        <label>Senha: </label> <br>
	        <input class="input-text-login" type="password" name="password"><br><br>
	        <input class="item-center-h botao botao-login"  type="submit" value="Logar">
	        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	    </form>
	</div>
</body>
</html>