<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
</head>
<body>
	<h1>Editar Usuario</h1>
    <form th:action="@{/salvarUsuarios}" th:object="${usuario}" method="POST">
        <input type="hidden" th:field="*{id}">
        Nome: <input type="text" th:field="*{nome}"><br><br>
        Login: <input type="text" th:field="*{login}"><br><br>
        <input type="submit" value="Editar">
    </form>
    <hr>
    <a th:href="@{/}">Voltar para a página inicial</a>
</body>
</html>