<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Notas</title>
    <script src="../js/script.js"></script>
</head>
<body>
	<h1>Editar Notas</h1>
    <form th:action="@{/salvarNotas}" th:object="${nota}" method="POST">
        <input type="hidden" th:field="*{id}">
       	Média de Biologia: <input type="number" step="0.1" th:field="*{mediaBio}"><br><br>
       	Média de Matemática: <input type="number" step="0.1" th:field="*{mediaMat}"><br><br>
        Média de Física: <input type="number" step="0.1" th:field="*{mediaFis}"><br><br>
       	Média de Química: <input type="number" step="0.1" th:field="*{mediaQui}"><br><br>
        Média de Geografia: <input type="number" step="0.1" th:field="*{mediaGeo}"><br><br>
        Média de História: <input type="number" step="0.1" th:field="*{mediaHis}"><br><br>
        Média de Filosofia: <input type="number" step="0.1" th:field="*{mediaFil}"><br><br>
       	Média de Sociologia: <input type="number" step="0.1" th:field="*{mediaSoc}"><br><br> 
       	Média de Português: <input type="number" step="0.1" th:field="*{mediaPor}"><br><br>  
       	Média de Educação Física: <input type="number" step="0.1" th:field="*{mediaEdF}"><br><br>  
       	Média de Artes: <input type="number" step="0.1" th:field="*{mediaArt}"><br><br>   
       	Média de Inglês: <input type="number" step="0.1" th:field="*{mediaIng}"><br><br>   
        <input type="submit" value="Editar">
    </form>
    <hr>
    <a th:href="@{/notas}">Voltar para a lista de notas</a>
</body>
</html>