<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Aluno</title>
    <script src="../js/script.js"></script>
</head>
<body>
	<h1>Editar Aluno</h1>
    <form th:action="@{/salvarAlunos}" th:object="${aluno}" method="POST">
        RA: <span th:text="*{ra}"></span><br><br>
        <input type="hidden" th:field=*{ra}>
        Nome: <input type="text" th:field="*{nome}" required><br><br>
        CPF: <input oninput="mascara(this)" type="text" th:field="*{cpf}" pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})|(\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2})" required><br><br>
        Série:
        <select  th:field="*{serie}">
			<option value="1º ano A" th:selected="*{serie == '1º ano A'}">1º ano A</option>
			<option value="1º ano B" th:selected="*{serie == '1º ano B'}">1º ano B</option>
			<option value="1º ano C" th:selected="*{serie == '1º ano C'}">1º ano C</option>
			<option value="2º ano A" th:selected="*{serie == '2º ano A'}">2º ano A</option>
			<option value="2º ano B" th:selected="*{serie == '2º ano B'}">2º ano B</option>
			<option value="2º ano C" th:selected="*{serie == '2º ano C'}">2º ano C</option>
			<option value="3º ano A" th:selected="*{serie == '3º ano A'}">3º ano A</option>
			<option value="3º ano B" th:selected="*{serie == '3º ano B'}">3º ano B</option>
			<option value="3º ano C" th:selected="*{serie == '3º ano C'}">3º ano C</option>
		</select><br><br>
		Data de Nascimento <input type="date" th:field="*{dataNascimento}"><br><br>
        <input type="submit" value="Editar">
    </form>
    <hr>
    <a th:href="@{/alunos}">Voltar para a lista de alunos</a>
</body>
</html>