<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
</head>
<body>
	<h1>Redefinir Senha</h1>
    <form th:action="@{/salvarUsuarios}" th:object="${usuario}" method="POST">
    	<p>Redefinição de senha do usuário <span th:text="*{nome}"></span></p>
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{nome}">
        <input type="hidden" th:field="*{cpf}">
       	<input type="hidden" th:field="*{username}">
       	<input type="hidden" th:field="*{nivelAcesso}">
       	<input type="hidden" th:field="*{ativo}">
        <input type="password" name="password">
        <input type="submit" value="Redefinir Senha">
    </form>
    <hr>
    <a th:href="@{/usuarios}">Voltar para a lista de usuários</a>
</body>
</html>