body{
	background-image: url("../../img/escola.jpg");
}

.box-login {
	box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
	width: 300px;
	height: 300px;
	background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    padding: 50px;
    transform: translate(-50%, -50%);
}

.input-text-login {
	width: 290px;
}

.botao-login {
	padding: 5px;
	height: 40px;
	width: 150px;
}

.erro-login {
	padding: 8px;
	background-color: #ff4040;
	border-left: solid 10px #cc0000;
	font-size: 16px;
	margin-bottom: 10px;
	color: #ffffff;
}

.logout-login {
	padding: 8px;
	background-color: #00a000;
	border-left: solid 10px #006600;
	font-size: 16px;
	margin-bottom: 10px;
	color: #ffffff;
}

.logo-login {
	margin-left: -150px;
	margin-top: 10px;
	height: 45px;
	position: absolute;
}

.titulo {
	margin-top: 30px;
	margin-left: 30px;
}

.first-part-login {
	margin-top: 10px;
}

.first-part-login input {
	margin-top: 10px;
}

.second-part-login input {
	margin-bottom: 20px;
}