<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
</head>
<body>
    <h1>Alunos</h1>
    <a th:href="@{/cadastrarAlunos}">Adicionar Alunos</a><br>
    <form th:action="@{/alunos}">
    	Pesquisar: <input type="search" name="palavraChave" id="palavraChave" th:value="${palavraChave}">
    	<input type="submit" value="Pesquisar">
	</form>
    <table border="1px">
        <thead>
            <tr>
           		<th>RA</th>
                <th>Nome</th>
                <th>Série</th>
                <th>Data de Nascimento</th>
                <th>CPF</th>
                <th>Ações</th>
                <th>Notas</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${listaAlunos}">
            	<td th:text="${aluno.ra}"></td>
                <td th:text="${aluno.nome}"></td>
                <td th:text="${aluno.serie}"></td>
                <td th:text="${#dates.format(aluno.dataNascimento, 'dd/MM/yyyy')}"></td>
                <td th:text="${aluno.cpf}"></td>
                <td>
                	<a th:href="@{/editarAlunos/{ra}(ra=${aluno.ra})}">
                		<img src="../img/editar.png" alt="Conta ativa" width="27px">
                	</a>
	                <a onclick="javascript:return confirm('Você tem certeza que quer excluir este aluno?')" 
	                th:href="@{/excluirAlunos/{ra}(ra=${aluno.ra})}">
	                	<img src="../img/excluir.png" alt="Conta ativa" width="27px">
	                </a>
                </td>
                <td>
                	<a href="/notas">
                		<img src="../img/nota.png" alt="Conta ativa" width="27px">
                	</a>
               </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <a href="/">Voltar para a Home</a>
</body>
</html>
