<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas dos Alunos</title>
</head>
<body>
    <h1>Notas dos alunos</h1>
    <form th:action="@{/notas}">
    	Pesquisar: <input type="search" name="palavraChave" id="palavraChave" th:value="${palavraChave}">
    	<input type="submit" value="Pesquisar">
	</form>
    <table border="1px">
        <thead>
            <tr>
           		<th rowspan="2">RA</th>
                <th rowspan="2">Nome</th>
                <th colspan="12">Média</th>
                <th rowspan="2">Faltas</th>
            </tr>
            <tr>
            	<th>Bio</th>
            	<th>Mat</th>
            	<th>Fís</th>
            	<th>Quí</th>
            	<th>Geo</th>
            	<th>His</th>
            	<th>Fil</th>
            	<th>Soc</th>
            	<th>Por</th>
            	<th>EdF</th>
            	<th>Art</th>
            	<th>Ing</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="nota : ${listaNotas}">
            	<td th:text="${nota.raAluno}"></td>
                <td th:text="${nota.nomeAluno}"></td>
                <td th:text="${nota.mediaBio}"></td>
				<td th:text="${nota.mediaMat}"></td>
				<td th:text="${nota.mediaFis}"></td>
				<td th:text="${nota.mediaQui}"></td>
				<td th:text="${nota.mediaHis}"></td>
				<td th:text="${nota.mediaFilo}"></td>
				<td th:text="${nota.mediaSoc}"></td>
				<td th:text="${nota.mediaPor}"></td>
				<td th:text="${nota.mediaEdF}"></td>
				<td th:text="${nota.mediaArt}"></td>
				<td th:text="${nota.mediaIng}"></td>
				<td th:text="${nota.totalFaltas}"></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <a href="/">Voltar para a Home</a>
</body>
</html>