<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas dos Alunos</title>
</head>
<body>
    <h1>Notas dos alunos</h1>
    <form th:action="@{/notas}">
    	Pesquisar: <input type="search" name="palavraChave" id="palavraChave" th:value="${palavraChave}">
    	<input type="submit" value="Pesquisar">
	</form>
    <table border="1px">
        <thead>
            <tr>
                <th rowspan="2">RA</th>
                <th colspan="12">Média</th>
                <th rowspan="2">Editar</th>
            </tr>
            <tr>
            	<th>Bio</th>
            	<th>Mat</th>
            	<th>Fís</th>
            	<th>Quí</th>
            	<th>Geo</th>
            	<th>His</th>
            	<th>Fil</th>
            	<th>Soc</th>
            	<th>Por</th>
            	<th>EdF</th>
            	<th>Art</th>
            	<th>Ing</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="nota : ${listaNotas}">
                <td th:each="aluno : ${listaAlunos}" th:if="${aluno.idNota == nota.id}" th:text="${aluno.ra}"></td>
                <td th:text="${#numbers.formatDecimal(nota.mediaBio,1,1,'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(nota.mediaMat,1,1,'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(nota.mediaFis,1,1,'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(nota.mediaQui,1,1,'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(nota.mediaGeo,1,1,'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(nota.mediaHis,1,1,'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(nota.mediaFil,1,1,'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(nota.mediaSoc,1,1,'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(nota.mediaPor,1,1,'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(nota.mediaEdF,1,1,'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(nota.mediaArt,1,1,'COMMA')}"></td>
				<td th:text="${#numbers.formatDecimal(nota.mediaIng,1,1,'COMMA')}"></td>
				<td><a th:href="@{/editarNotas/{id}(id=${nota.id})}">
                	<img src="../img/editar.png" alt="Editar" width="27px">
                </a></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <a href="/">Voltar para a Home</a>
</body>
</html>