<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Seu Perfil</h1>
    <p>Nome:</p>
    <p>Foto de perfil: </p>
    <p>Username: <span sec:authentication="principal.username"></span></p>
    <p>Nível de Acesso: <span sec:authentication="principal.authorities"></span></p>
    <a href="/editarPerfil">Editar Perfil</a>
</body>
</html>