<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
</head>
<body>
    <h1>Usuários</h1>
    <a th:href="@{/cadastrarUsuarios}">Adicionar Usuário</a><br>
    <form th:action="@{/usuarios}">
    	Pesquisar: <input type="search" name="palavraChave" id="palavraChave" th:value="${palavraChave}">
    	<input type="submit" value="Pesquisar">
	</form>
    <table border="1px">
        <thead>
            <tr>
           		<th>ID</th>
                <th>Nome</th>
                <th>Login</th>
                <th>CPF</th>
                <th>Nível de Acesso</th>
                <th>Conta Ativada</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${listaUsuarios}">
            	<td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.username}"></td>
                <td th:text="${usuario.cpf}"></td>
                <td th:if="${usuario.nivelAcesso == 'ROLE_ADMINISTRADOR'}">Administrador</td>
                <td th:if="${usuario.nivelAcesso == 'ROLE_PROFESSOR'}">Professor</td>
                <td th:if="${usuario.nivelAcesso == 'ROLE_ALUNO'}">Aluno</td>
                <td th:if="${usuario.ativo == 0}"><img src="../img/inativo.png" alt="Conta Inativa" width="27px"></td>
                <td th:if="${usuario.ativo == 1}"><img src="../img/ativo.png" alt="Conta ativa" width="27px"></td>
                <td>
                	<a th:href="@{/editarUsuarios/{id}(id=${usuario.id})}">
                		<img src="../img/editar.png" alt="Conta ativa" width="27px">
                	</a>
	                <a onclick="javascript:return confirm('Você tem certeza que quer excluir este usuário?')" 
	                th:href="@{/excluirUsuarios/{id}(id=${usuario.id})}">
	                	<img src="../img/excluir.png" alt="Conta ativa" width="27px">
	                </a>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <a href="/">Voltar para a Home</a>
</body>
</html>
