<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Aluno</title>
    <script src="../js/script.js"></script>
</head>
<body>
    <h1>Cadastro de Aluno</h1>
    <form th:action="@{salvarAlunos}" th:object="${aluno}" method="POST">
    	CPF: <select th:field="*{cpf}">
    		<option th:each="usuario : ${listaUsuarios}" th:value="${usuario.cpf}" th:text="${usuario.cpf}"></option>
    	</select>
    	<br><br>
        RA: <input type="number" th:field="*{ra}" min="1000000000" max="9999999999" required><br><br>
		Série:
		<select  th:field="*{serie}" required>
		 	<option value="" hidden=hidden disabled selected >Selecione uma série...</option>
			<option value="1º ano A">1º ano A</option>
			<option value="1º ano B">1º ano B</option>
			<option value="1º ano C">1º ano C</option>
			<option value="2º ano A">2º ano A</option>
			<option value="2º ano B">2º ano B</option>
			<option value="2º ano C">2º ano C</option>
			<option value="3º ano A">3º ano A</option>
			<option value="3º ano B">3º ano B</option>
			<option value="3º ano C">3º ano C</option>
		</select><br><br>
        Data de Nascimento: <input type="date" th:field="*{dataNascimento}" required><br><br>
        <input type="submit" value="Cadastrar">
    </form>
    <hr>
    <a th:href="@{/alunos}">Voltar para a lista de alunos</a>
</body>
</html>