<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Nota (teste)</title>
    <script src="../js/script.js"></script>
</head>
<body>
    <h1>Cadastro de Aluno</h1>
    <form th:action="@{salvarNotas}" th:object="${nota}" method="POST">
    	Aluno: <select th:field="*{aluno}">
    		<option th:each="aluno : ${listaAlunos}" th:value="${aluno.ra}" th:text="${aluno.ra}"></option>
    	</select><br><br>
        Disciplina: <input type="text"  th:field="*{disciplina}" required><br><br>
		Média: <input type="number" step="0.1" th:field="*{media}" required><br><br>
        <input type="submit" value="Cadastrar">
    </form>
    <hr>
    <a th:href="@{/alunos}">Voltar para a lista de alunos</a>
</body>
</html>