<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuário</title>
    <script src="../js/script.js"></script>
</head>
<body>
    <h1>Cadastro de Usuário</h1>
    <div style="color: green" th:if="${sucesso}">Usuário cadastrado com sucesso!</div>
    <form th:action="@{salvarUsuarios}" th:object="${usuario}" method="POST">
        Nome: <input type="text" th:field="*{nome}" required><br><br>
        CPF: <input type="text" th:field="*{cpf}" oninput="mascara(this)" pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})|(\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2})" required><br><br>
        Login: <input type="email" th:field="*{username}" required><br><br>
        Senha: <input type="password" th:field="*{password}" required><br><br>
        <input type="radio" name="nivel_acesso" value="ROLE_ALUNO" th:field="*{nivelAcesso}"> Aluno
       	<input type="radio" name="nivel_acesso" value="ROLE_PROFESSOR" th:field="*{nivelAcesso}"> Professor
       	<input type="radio" name="nivel_acesso" value="ROLE_ADMINISTRADOR" th:field="*{nivelAcesso}"> Administrador <br><br>
        <input type="submit" value="Cadastrar">
    </form>
    <hr>
    <a th:href="@{/usuarios}">Voltar para a lista de usuários</a>
</body>
</html>